.App {
  font-family: Courier, monospace;
  font-weight: 500;
  width: 660px;
  padding: 50px;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

#tooltip {
  /* font-family: "Open Sans", sans-serif; */
  position: fixed;
  z-index: 10000;
  width: 250px;
  background: black;
  border: 2px;        
  border-radius: 6px;         
  /* border-color: white; */
  border-style: solid;
  transform:scale(0);
  transform-origin:bottom left;
}

#tooltip.active {
  transform:scale(1);
}

#tooltip .item {
  padding: 10px 5px;
  font-size:15px;
  color:white;
}

#tooltip .item i {
  display: inline-block;
  margin-right: 5px;
}

#tooltip hr {
  margin: 5px 0px;
  border-color: black;
}

#tooltip .item::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}